.movie_div
{
    padding: 20px 20px;
    background-color: rgb(8, 68, 121);;
    border-radius: 10px;
    color: #FFF;
    margin: 10px 0;
}

.movie_body
{
    margin-top: 20px;
}

.producer
{
    display: flex;
    margin-top: 20px;
}

.producer p:nth-child(2)
{
    margin-left: auto;
}
